# Ignore the sqlite database file.
UniverseDB.sqlite3

# Ignore the compiled python files.
__pycache__
*.pyc

# Ignore the extra files folder.
ExtraFiles/

# Ignore the web-app testing folders.
postFiles/posts
postFiles/TempFiles

# Ignore the editor configuration files.
.vscode/

